<a class="#top"></a>
<div class="items">
  <% if @user == current_user %>
  <h1>Your Bucket List</h1>
  <% else %>
  <h1><%= @user.username.titleize %>'s Bucket List</h1>
  <% end %>

  <ul class="items">
    <% @items.order("created_at ASC").each do |item| %>
    <li>
      <h2><%= item.title %></h2>

      <p><%= item.description %></p>
      <p>Finished: <%= item.completed %></p>
      <p>Completed On: <%= item.date_completed %></p>
      <%= item.user_id %>

      <% if item.user_id == current_user.id %>
        <p><%= link_to "edit", edit_user_item_path(current_user, item) %> <%= link_to "delete", user_item_path(current_user, item), method: :delete, data: {confirm: "Are you sure?"}%></p>
      <% end %>
    </li>
    <% end %>
  </ul>

</div>

<a href="#top">Back to the Top</a>
